body{
background-color: hsl(0, 0%, 100%);
background-color: hsl(30, 54%, 90%);
background-color: hsl(30, 18%, 87%);
background-color: hsl(30, 10%, 34%);
background-color: hsl(24, 5%, 18%);
background-color: hsl(14, 45%, 36%);
background-color: hsl(332, 51%, 32%);
background-color: hsl(330, 100%, 98%);
}